body {
	background: #222;
	color: #DDD;
	/*font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;*/
	font-family: Liberation Mono, Consolas, monospace;
}
a {
	color: #49F;
}
