body {
	background: #222;
	color: #DDD;
	font-family: Liberation Mono, Consolas, monospace, emoji;
}
a {
	color: #49F;
}

/*
.visual-tally {
	white-space: nowrap;
}
*/
.tally-count {
	font-size: .8em;
}

td {
	vertical-align: top;
}
.comment-skip {
	font-size: .8em;
	font-style: italic;
	margin-bottom: .5em;
}
.comment-name {
	font-weight: bold;
}
