<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Add Commenter - Admin - Mafia Tally</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<h1>Mafia Tally Administration</h1>
		<h2>Associate Comment to User</h2>
		<form method="POST">
			<p><label>Password: <input name="password" type="password" required /></label></p>
			<p><label>Comment ID: <input name="comment_id" type="number" required /></label></p>
			<p><label>Player:
				<select name="player_name">
				{%- for player in players|sort %}
					<option>{{ player }}</option>
				{%- endfor %}
					<option value="">None</option>
				</select>
			</label></p>
		</form>
	</body>
</html>
